* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bgColor: rgb(33,37,41);
}

.deco-none {
    text-decoration: none;
    color: black;
}

#nav-bell:hover i {
    animation: ringBell .2s linear infinite alternate;
}

@keyframes ringBell {
    0% {transform: rotate(20deg);}
    100% {transform: rotate(-20deg);}
}

.hero {
    height: 50vh;
    background-image: url("https://cdn.pixabay.com/photo/2014/09/17/20/26/restaurant-449952_960_720.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-textbox {
    background-color: rgba(0, 0, 0, .5);
}

.card-deco {
    box-shadow: 0px 0px 10px grey;
    transition: all .2s ease;
}

.card-deco:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 15px var(--bgColor);
}

.card-description {
    line-height: 1.2em;
    text-align: justify;
    height: 2.4em;
    overflow: hidden;
}

.card-description:hover {
    height: unset;
    min-height: 2.4em;
    overflow: unset;
}

.footer {
    background-color: var(--bgColor);
}

.footer-social {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 10%;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    text-decoration: none;
    transition: color .5s ease;
}

.footer-social:hover {
    color: grey;
}